<a href="https://colab.research.google.com/github/sylvia830/Real_Estate_Prices_Prediction/blob/main/Real_Estate_Prices_Polynomial_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#import dataset
dataset = pd.read_csv('Real estate.csv')
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:,-1].values

In [46]:
dataset.head()

   No  X1 transaction date  ...  X6 longitude  Y house price of unit area
0   1             2012.917  ...     121.54024                        37.9
1   2             2012.917  ...     121.53951                        42.2
2   3             2013.583  ...     121.54391                        47.3
3   4             2013.500  ...     121.54391                        54.8
4   5             2012.833  ...     121.54245                        43.1

[5 rows x 8 columns]

In [4]:
#split the dataset into training set and test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)

In [ ]:
#convert the scientific notation to float notation
float_formatter = "{:.7f}".format
np.set_printoptions(formatter={'float_kind':float_formatter})
print(X_test)

In [ ]:
#train the polynomial model on the training set 
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
poly_reg =PolynomialFeatures(degree = 2)
x_poly = poly_reg.fit_transform(X)
lin_reg = LinearRegression()
lin_reg.fit(x_poly, y)

In [ ]:
#predict test results
y_pred = lin_reg.predict(poly_reg.fit_transform(X_test))
print(y_pred)

In [47]:
#compare predicted results with y_test
print(np.concatenate((y_pred.reshape(len(y_pred),1),y_test.reshape(len(y_test),1)), 1))

[[27.1207998 27.3000000]
 [53.1538439 54.4000000]
 [24.6119159 22.0000000]
 [17.0330874 11.6000000]
 [52.5895601 45.4000000]
 [29.0575984 23.0000000]
 [21.4780263 21.8000000]
 [41.0042550 32.2000000]
 [38.7561982 37.4000000]
 [18.0985256 22.6000000]
 [16.1247055 17.4000000]
 [37.3618827 36.8000000]
 [26.9958306 23.1000000]
 [47.8470237 36.9000000]
 [52.7888830 56.3000000]
 [28.6425998 20.9000000]
 [52.6276389 43.5000000]
 [45.2389874 40.3000000]
 [19.4357772 27.7000000]
 [42.8510003 42.1000000]
 [47.7147180 46.6000000]
 [16.9257708 21.8000000]
 [39.6999584 38.1000000]
 [48.1703181 53.7000000]
 [48.2683124 57.1000000]
 [20.1465143 26.6000000]
 [25.0639003 32.1000000]
 [50.9950760 56.8000000]
 [53.5442502 43.1000000]
 [20.8971322 16.7000000]
 [28.1671803 33.4000000]
 [37.4313139 34.2000000]
 [41.5917966 39.6000000]
 [44.7437441 52.5000000]
 [45.5372004 47.1000000]
 [19.0300221 13.0000000]
 [38.1767658 37.5000000]
 [41.1678372 32.5000000]
 [46.6830337 42.3000000]
 [17.2217400 20.5000000]
 [37.3031289 40.3000000]
 [14.2950412 16.1000000]
 [57.5390827 58.1000000]
 [29.9482989 33.4000000]
 [28.7295142 30.8000000]
 [34.1763749 21.7000000]
 [23.1428424 20.9000000]
 [36.6097703 42.5000000]
 [44.5488040 38.1000000]
 [40.9509045 39.6000000]
 [19.8363826 18.6000000]
 [48.8769576 44.3000000]
 [44.7835320 39.7000000]
 [20.3071036 15.4000000]
 [55.8712245 50.8000000]
 [43.3907813 36.3000000]
 [51.7536920 52.2000000]
 [37.6912986 37.8000000]
 [38.2728625 26.5000000]
 [37.2649215 42.5000000]
 [18.2670353 12.8000000]
 [40.2802125 32.9000000]
 [28.4920138 29.4000000]
 [20.4480259 19.2000000]
 [39.9139553 42.6000000]
 [46.0360166 32.4000000]
 [50.6415585 42.7000000]
 [44.8211122 42.3000000]
 [17.8892350 15.9000000]
 [40.2662025 43.9000000]
 [47.4589670 44.5000000]
 [16.9896176 15.5000000]
 [37.0404420 29.8000000]
 [35.5724264 24.5000000]
 [52.0959290 50.0000000]
 [38.0605820 37.2000000]
 [32.0173730 30.9000000]
 [35.0289206 37.0000000]
 [40.8647674 33.1000000]
 [48.8270720 59.6000000]
 [42.7868891 40.8000000]
 [46.6764847 52.2000000]
 [46.5622122 47.1000000]]

In [15]:
#evaluate the model performance
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.7934773157035822

In [42]:
#train the polynomial regression model on the training set with a degree of 3
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
poly_reg1 = PolynomialFeatures(degree=7)
x_poly1 = poly_reg1.fit_transform(X)
lin_reg1 = LinearRegression()
lin_reg1.fit(x_poly1, y)

LinearRegression()

In [ ]:
#predict the results for new degree
y_pred_new = lin_reg1.predict(poly_reg1.fit_transform(X_test))
print(y_pred_new)

In [48]:
#compare the new results with y_test
print(np.concatenate((y_pred_new.reshape(len(y_pred_new),1), y_test.reshape(len(y_test),1)),1))

[[27.1540587 27.3000000]
 [50.6734031 54.4000000]
 [21.9217161 22.0000000]
 [11.7490278 11.6000000]
 [45.1992048 45.4000000]
 [22.9252199 23.0000000]
 [22.4289966 21.8000000]
 [31.7919907 32.2000000]
 [37.5813999 37.4000000]
 [22.5755115 22.6000000]
 [17.4119020 17.4000000]
 [36.5633403 36.8000000]
 [22.5746324 23.1000000]
 [36.2847881 36.9000000]
 [55.4451674 56.3000000]
 [21.0229273 20.9000000]
 [44.2971183 43.5000000]
 [39.5938409 40.3000000]
 [27.7135448 27.7000000]
 [45.2512459 42.1000000]
 [46.4592821 46.6000000]
 [21.8444163 21.8000000]
 [38.0021282 38.1000000]
 [54.2703619 53.7000000]
 [59.5330206 57.1000000]
 [25.6980460 26.6000000]
 [32.1212427 32.1000000]
 [56.9357011 56.8000000]
 [43.0607804 43.1000000]
 [16.6337324 16.7000000]
 [33.7665376 33.4000000]
 [34.0424023 34.2000000]
 [40.3528064 39.6000000]
 [52.5376652 52.5000000]
 [47.6774408 47.1000000]
 [12.9750496 13.0000000]
 [37.2130298 37.5000000]
 [32.3375114 32.5000000]
 [44.9123353 42.3000000]
 [20.2617441 20.5000000]
 [40.0575940 40.3000000]
 [16.2971381 16.1000000]
 [59.2685963 58.1000000]
 [33.7016988 33.4000000]
 [31.4449835 30.8000000]
 [21.9182102 21.7000000]
 [21.1278304 20.9000000]
 [42.4641899 42.5000000]
 [38.9675328 38.1000000]
 [39.6035807 39.6000000]
 [18.4854313 18.6000000]
 [45.1977924 44.3000000]
 [40.2477539 39.7000000]
 [15.3791338 15.4000000]
 [50.6924394 50.8000000]
 [36.3453204 36.3000000]
 [51.6327777 52.2000000]
 [36.5695638 37.8000000]
 [26.5150838 26.5000000]
 [38.8499591 42.5000000]
 [12.8843839 12.8000000]
 [32.7817143 32.9000000]
 [29.2635594 29.4000000]
 [19.3327452 19.2000000]
 [43.1165472 42.6000000]
 [32.6909322 32.4000000]
 [43.0631262 42.7000000]
 [42.1077231 42.3000000]
 [15.9718300 15.9000000]
 [43.2637814 43.9000000]
 [49.9409785 44.5000000]
 [15.4739910 15.5000000]
 [29.7247945 29.8000000]
 [25.3349879 24.5000000]
 [49.2547102 50.0000000]
 [37.0247958 37.2000000]
 [31.6776700 30.9000000]
 [36.3882348 37.0000000]
 [34.6168885 33.1000000]
 [57.3314203 59.6000000]
 [42.7997159 40.8000000]
 [52.1199430 52.2000000]
 [47.2216152 47.1000000]]

In [45]:
#evalute the model performance
from sklearn.metrics import r2_score
r2_score(y_test, y_pred_new)

0.9916092070641795