<a href="https://colab.research.google.com/github/sylvia830/Real_Estate_Prices_Prediction/blob/main/Real_Estate_Prices_Polynomial_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
#import libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [22]:
#import dataset
dataset = pd.read_csv('Real estate.csv')
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:,-1].values

In [23]:
dataset.head()

   No  X1 transaction date  ...  X6 longitude  Y house price of unit area
0   1             2012.917  ...     121.54024                        37.9
1   2             2012.917  ...     121.53951                        42.2
2   3             2013.583  ...     121.54391                        47.3
3   4             2013.500  ...     121.54391                        54.8
4   5             2012.833  ...     121.54245                        43.1

[5 rows x 8 columns]

In [24]:
#split the dataset into training set and test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)

In [25]:
#convert the scientific notation to float notation
float_formatter = "{:.7f}".format
np.set_printoptions(formatter={'float_kind':float_formatter})
print(X_test)

[[389.0000000 2013.5000000 10.4000000 2251.9380000 4.0000000 24.9595700
  121.5135300]
 [103.0000000 2013.0830000 1.1000000 193.5845000 6.0000000 24.9657100
  121.5408900]
 [188.0000000 2013.0000000 8.9000000 3078.1760000 0.0000000 24.9546400
  121.5662700]
 [163.0000000 2012.7500000 16.0000000 4066.5870000 0.0000000 24.9429700
  121.5034200]
 [91.0000000 2012.8330000 0.0000000 274.0144000 1.0000000 24.9748000
  121.5305900]
 [399.0000000 2013.4170000 14.7000000 1717.1930000 2.0000000 24.9644700
  121.5164900]
 [296.0000000 2013.1670000 18.2000000 2179.5900000 3.0000000 24.9629900
  121.5125200]
 [398.0000000 2013.4170000 13.1000000 1164.8380000 4.0000000 24.9915600
  121.5340600]
 [18.0000000 2012.7500000 17.7000000 350.8515000 1.0000000 24.9754400
  121.5311900]
 [59.0000000 2013.5000000 30.3000000 4510.3590000 1.0000000 24.9492500
  121.4954200]
 [233.0000000 2012.9170000 27.1000000 4412.7650000 1.0000000 24.9503200
  121.4958700]
 [82.0000000 2013.0000000 30.8000000 377.7956000 6.0000000 24.9642700
  121.5396400]
 [248.0000000 2013.3330000 21.7000000 1055.0670000 0.0000000 24.9621100
  121.5492800]
 [301.0000000 2013.0830000 2.5000000 156.2442000 4.0000000 24.9669600
  121.5399200]
 [287.0000000 2012.9170000 5.9000000 90.4560600 9.0000000 24.9743300
  121.5431000]
 [215.0000000 2013.5830000 18.1000000 1783.1800000 3.0000000 24.9673100
  121.5148600]
 [212.0000000 2013.0830000 0.0000000 274.0144000 1.0000000 24.9748000
  121.5305900]
 [81.0000000 2013.5000000 11.8000000 533.4762000 4.0000000 24.9744500
  121.5476500]
 [63.0000000 2012.9170000 17.2000000 2175.8770000 3.0000000 24.9630300
  121.5125400]
 [371.0000000 2012.7500000 15.9000000 289.3248000 5.0000000 24.9820300
  121.5434800]
 [386.0000000 2013.0000000 18.3000000 82.8864300 10.0000000 24.9830000
  121.5402600]
 [93.0000000 2012.9170000 20.6000000 2469.6450000 4.0000000 24.9610800
  121.5104600]
 [326.0000000 2013.0830000 36.6000000 488.8193000 8.0000000 24.9701500
  121.5449400]
 [349.0000000 2012.8330000 4.6000000 259.6607000 6.0000000 24.9758500
  121.5451600]
 [30.0000000 2013.0830000 7.1000000 451.2438000 5.0000000 24.9756300
  121.5469400]
 [205.0000000 2013.0000000 18.0000000 1414.8370000 1.0000000 24.9518200
  121.5488700]
 [6.0000000 2012.6670000 7.1000000 2175.0300000 3.0000000 24.9630500
  121.5125400]
 [68.0000000 2013.5000000 8.5000000 104.8101000 5.0000000 24.9667400
  121.5406700]
 [5.0000000 2012.8330000 5.0000000 390.5684000 5.0000000 24.9793700
  121.5424500]
 [299.0000000 2013.3330000 16.7000000 4082.0150000 0.0000000 24.9415500
  121.5038100]
 [243.0000000 2012.8330000 2.0000000 2077.3900000 3.0000000 24.9635700
  121.5132900]
 [208.0000000 2013.0830000 38.5000000 665.0636000 3.0000000 24.9750300
  121.5369200]
 [162.0000000 2013.4170000 19.2000000 616.4004000 3.0000000 24.9772300
  121.5376700]
 [413.0000000 2013.0000000 8.1000000 104.8101000 5.0000000 24.9667400
  121.5406700]
 [107.0000000 2013.0830000 17.2000000 189.5181000 8.0000000 24.9770700
  121.5430800]
 [118.0000000 2013.0000000 13.6000000 4197.3490000 0.0000000 24.9388500
  121.5038300]
 [133.0000000 2013.1670000 26.6000000 482.7581000 5.0000000 24.9743300
  121.5386300]
 [123.0000000 2013.2500000 31.5000000 414.9476000 4.0000000 24.9819900
  121.5446400]
 [224.0000000 2013.2500000 9.1000000 1402.0160000 0.0000000 24.9856900
  121.5276000]
 [190.0000000 2012.9170000 16.3000000 4066.5870000 0.0000000 24.9429700
  121.5034200]
 [7.0000000 2012.6670000 34.5000000 623.4731000 7.0000000 24.9793300
  121.5364200]
 [94.0000000 2012.9170000 31.9000000 1146.3290000 0.0000000 24.9492000
  121.5307600]
 [173.0000000 2013.5830000 6.6000000 90.4560600 9.0000000 24.9743300
  121.5431000]
 [231.0000000 2013.5000000 4.0000000 2147.3760000 3.0000000 24.9629900
  121.5128400]
 [347.0000000 2013.4170000 13.2000000 1712.6320000 2.0000000 24.9641200
  121.5167000]
 [245.0000000 2013.0830000 4.8000000 1559.8270000 3.0000000 24.9721300
  121.5162700]
 [368.0000000 2012.8330000 15.0000000 1828.3190000 2.0000000 24.9646400
  121.5153100]
 [396.0000000 2012.9170000 21.2000000 512.5487000 4.0000000 24.9740000
  121.5384200]
 [295.0000000 2013.5000000 26.4000000 335.5273000 6.0000000 24.9796000
  121.5414000]
 [333.0000000 2013.1670000 39.8000000 617.7134000 2.0000000 24.9757700
  121.5347500]
 [321.0000000 2012.7500000 13.5000000 4197.3490000 0.0000000 24.9388500
  121.5038300]
 [66.0000000 2013.4170000 40.1000000 123.7429000 8.0000000 24.9763500
  121.5432900]
 [404.0000000 2012.6670000 30.9000000 161.9420000 9.0000000 24.9835300
  121.5396600]
 [410.0000000 2013.0000000 13.7000000 4082.0150000 0.0000000 24.9415500
  121.5038100]
 [86.0000000 2012.7500000 0.0000000 338.9679000 9.0000000 24.9685300
  121.5441300]
 [339.0000000 2012.9170000 31.5000000 258.1860000 9.0000000 24.9686700
  121.5433100]
 [374.0000000 2013.0830000 0.0000000 274.0144000 1.0000000 24.9748000
  121.5305900]
 [192.0000000 2013.1670000 13.2000000 750.0704000 2.0000000 24.9737100
  121.5495100]
 [257.0000000 2012.6670000 14.6000000 339.2289000 1.0000000 24.9751900
  121.5315100]
 [140.0000000 2012.6670000 12.9000000 492.2313000 5.0000000 24.9651500
  121.5373700]
 [331.0000000 2013.0830000 32.0000000 1156.7770000 0.0000000 24.9493500
  121.5304600]
 [102.0000000 2012.8330000 12.7000000 170.1289000 1.0000000 24.9737100
  121.5298400]
 [305.0000000 2013.4170000 20.0000000 1626.0830000 3.0000000 24.9662200
  121.5166800]
 [330.0000000 2013.0000000 13.6000000 4197.3490000 0.0000000 24.9388500
  121.5038300]
 [180.0000000 2013.0830000 14.0000000 438.8513000 1.0000000 24.9749300
  121.5273000]
 [234.0000000 2013.3330000 39.7000000 333.3679000 9.0000000 24.9801600
  121.5393200]
 [193.0000000 2013.1670000 43.8000000 57.5894500 7.0000000 24.9675000
  121.5406900]
 [19.0000000 2013.4170000 16.9000000 368.1363000 8.0000000 24.9675000
  121.5445100]
 [41.0000000 2013.0000000 13.6000000 4082.0150000 0.0000000 24.9415500
  121.5038100]
 [258.0000000 2013.2500000 17.3000000 444.1334000 1.0000000 24.9750100
  121.5273000]
 [290.0000000 2013.3330000 13.9000000 289.3248000 5.0000000 24.9820300
  121.5434800]
 [181.0000000 2012.6670000 26.9000000 4449.2700000 0.0000000 24.9489800
  121.4962100]
 [79.0000000 2012.9170000 38.2000000 552.4371000 2.0000000 24.9759800
  121.5338100]
 [293.0000000 2013.0830000 17.5000000 395.6747000 5.0000000 24.9567400
  121.5340000]
 [411.0000000 2012.6670000 5.6000000 90.4560600 9.0000000 24.9743300
  121.5431000]
 [406.0000000 2012.6670000 23.0000000 130.9945000 6.0000000 24.9566300
  121.5376500]
 [338.0000000 2012.8330000 31.3000000 600.8604000 5.0000000 24.9687100
  121.5465100]
 [342.0000000 2013.0000000 13.0000000 750.0704000 2.0000000 24.9737100
  121.5495100]
 [323.0000000 2013.0000000 12.9000000 187.4823000 1.0000000 24.9738800
  121.5298100]
 [120.0000000 2013.5000000 16.6000000 289.3248000 5.0000000 24.9820300
  121.5434800]
 [246.0000000 2013.4170000 7.5000000 639.6198000 5.0000000 24.9725800
  121.5481400]
 [147.0000000 2012.7500000 0.0000000 185.4296000 0.0000000 24.9711000
  121.5317000]
 [361.0000000 2012.6670000 32.9000000 87.3022200 10.0000000 24.9830000
  121.5402200]]

In [26]:
#train the polynomial model on the training set 
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
poly_reg =PolynomialFeatures(degree = 2)
x_poly = poly_reg.fit_transform(X)
lin_reg = LinearRegression()
lin_reg.fit(x_poly, y)

LinearRegression()

In [27]:
#predict test results
y_pred = lin_reg.predict(poly_reg.fit_transform(X_test))
print(y_pred)

[27.1207998 53.1538439 24.6119159 17.0330874 52.5895601 29.0575984
 21.4780263 41.0042550 38.7561982 18.0985256 16.1247055 37.3618827
 26.9958306 47.8470237 52.7888830 28.6425998 52.6276389 45.2389874
 19.4357772 42.8510003 47.7147180 16.9257708 39.6999584 48.1703181
 48.2683124 20.1465143 25.0639003 50.9950760 53.5442502 20.8971322
 28.1671803 37.4313139 41.5917966 44.7437441 45.5372004 19.0300221
 38.1767658 41.1678372 46.6830337 17.2217400 37.3031289 14.2950412
 57.5390827 29.9482989 28.7295142 34.1763749 23.1428424 36.6097703
 44.5488040 40.9509045 19.8363826 48.8769576 44.7835320 20.3071036
 55.8712245 43.3907813 51.7536920 37.6912986 38.2728625 37.2649215
 18.2670353 40.2802125 28.4920138 20.4480259 39.9139553 46.0360166
 50.6415585 44.8211122 17.8892350 40.2662025 47.4589670 16.9896176
 37.0404420 35.5724264 52.0959290 38.0605820 32.0173730 35.0289206
 40.8647674 48.8270720 42.7868891 46.6764847 46.5622122]

In [ ]:
#compare predicted results with y_test
print(np.concatenate((y_pred.reshape(len(y_pred),1),y_test.reshape(len(y_test),1)), 1))

In [31]:
#evaluate the model performance
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.7934773157035822